    {{#hasCompType node "label"}}
            <div class="{{CSS_CLASSES.innerNoScroll}}">
                <h2>
                    {{#firstComp node "label"}}{{data.value}}{{/firstComp}}
                    
                </h2>
                 {{#firstComp node "uri"}}{{data}}{{/firstComp}}
            </div>
            <div class="{{CSS_CLASSES.innerScroll}}">
            </div>
    {{/hasCompType}}