<div class="col-lg-2 col-md-3 col-xs-4" style="display: flex; flex-direction: column; justify-content: center;">
    <div>
        {{label}}
    </div>
    <div class="progress">
        <div class="{{CSS.progress_bar}} progress-bar progress-bar-success" style="width: 0%"></div>
    </div>
</div>