    {{#if node.label}}
            <div class="{{CSS_CLASSES.innerNoScroll}}">
                <h2>
                    {{node.label.value}}
                </h2>
                {{node.uri}}
            </div>
            <div class="{{CSS_CLASSES.innerScroll}}">
                    <div></div>
            </div>
    {{/if}}