		<div class="{{cssClass.overlay}}">
                                                            <div style="visibility:hidden">{{id}}</div>
			<span class="close">close</span>
			<div class="{{cssClass.overlayContent}}">
			</div>
		</div>