		{{#if label}}
			<h3 class="itemContent labelEn ellipsis">{{label.value}}</h3>
		{{/if}}
		{{#ifLang description}}
			<div class="itemContent descriptionEn ellipsis">{{description.value}}</div>
		{{/ifLang}}
		{{#if predicate}}
			<div class="itemContent predicate">{{predicate.value}}</div>
		{{/if}}